* {
  box-sizing: border-box;
}
body {
  width: 1440px;
  display: block;
  margin: 0 auto;
  font-family: "Menoe Grotesque Pro";
  position: relative;
}
body {
  background-color: #f5f4f0;
}
/* body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/maket.png");
  width: 1440px;
  height: 10160px;
  opacity: 0.2;
} */

.name-badge {
  font-size: 50px;
  color: #f5f4f0;
}
.second-name-badge {
  font-size: 25px;
  font-style: italic;
  color: #f5f4f0;
}

.rent-studio {
  font-size: 11px;
  color: #365bcd;
}
.arrow {
  font-size: 17.95px;
  color: #000;
}
.rent {
  font-size: 20px;
  color: #000;
}

.screen-1 {
  position: relative;
}

.screen-1 img {
  width: 1440px;
}
.screen-1 h1 {
  position: absolute;
  font-size: 82.65px;
  color: #f5f4f0;
  transform: rotate(-2deg);
  top: 238px;
  left: 268px;
}
.studio {
  position: absolute;
  font-size: 38.57px;
  color: #f5f4f0;
  transform: rotate(-2deg);
  top: 436px;
  left: 225px;
}
.Hungar-umlaut {
  position: absolute;
  font-size: 55.1px;
  color: #f5f4f0;
  transform: rotate(-2deg);
  top: 528px;
  left: 200px;
}
.author {
  position: absolute;
  font-size: 38.57px;
  color: #f5f4f0;
  transform: rotate(-2deg);
  top: 420px;
  left: 692px;
}
.Adam-Katiy {
  position: absolute;
  font-size: 55.1px;
  color: #f5f4f0;
  transform: rotate(-2deg);
  top: 512px;
  left: 690px;
}
.year {
  position: absolute;
  font-size: 38.57px;
  color: #f5f4f0;
  transform: rotate(-2deg);
  top: 405px;
  left: 1140px;
}
.name-year {
  position: absolute;
  font-size: 55.1px;
  color: #f5f4f0;
  transform: rotate(-2deg);
  top: 497px;
  left: 1115px;
}

.screen-2 {
  position: relative;
  height: 1130px;
}
.script {
  position: absolute;
  top: -157px;
}
.history {
  position: absolute;
  font-size: 24.62px;
  text-decoration: underline;
  color: #000;
  transform: rotate(8.5deg);
  top: -59px;
  left: 281px;
}
.text-1 {
  position: absolute;
  font-size: 24.62px;
  color: #000;
  transform: rotate(8.5deg);
  top: 23px;
  left: 31px;
}
.text-2 {
  position: absolute;
  font-size: 24.62px;
  color: #000;
  transform: rotate(8.5deg);
  top: 112px;
  left: 16px;
}
.styles {
  position: absolute;
  font-size: 40px;
  color: #000;
  transform: rotate(9.51deg);
  top: 657px;
  left: 292px;
}
.two-pieces {
  position: absolute;
  font-style: italic;
  font-size: 26.23px;
  color: #365bcd;
  transform: rotate(9.51deg);
  top: 693px;
  left: 285px;
}
.regular {
  position: absolute;
  font-size: 40px;
  color: #000;
  transform: rotate(9.51deg);
  top: 749px;
  left: 281px;
}
.italic {
  position: absolute;
  font-style: italic;
  font-size: 40px;
  color: #000;
  transform: rotate(9.51deg);
  top: 812px;
  left: 271px;
}
.marker {
  position: absolute;
  top: 730px;
}
.name-marker {
  position: absolute;
  font-size: 30px;
  color: #000;
  transform: rotate(13.12deg);
  top: 956px;
  left: 4px;
}
.color-marker {
  position: absolute;
  font-style: italic;
  font-size: 20px;
  color: #365bcd;
  transform: rotate(13.12deg);
  top: 986px;
  left: 93px;
}
.badge {
  position: absolute;
  top: -45.9px;
  left: 739px;
}
.screen-2 .name-badge {
  position: absolute;
  top: 771px;
  transform: rotate(11.38deg);
  left: 783px;
}
.screen-2 .second-name-badge {
  position: absolute;
  top: 813px;
  transform: rotate(11.38deg);
  left: 773px;
}
.photo {
  position: absolute;
  transform: rotate(11.38deg);
  top: 466px;
  left: 811px;
}
.scotch {
  position: absolute;
  top: -25px;
  left: 1142px;
}
.walkie-talkie {
  position: absolute;
  top: 331px;
  left: 1067px;
}
.name-walkie-talkie {
  position: absolute;
  font-size: 42.12px;
  color: #767676;
  transform: rotate(-130deg);
  top: 745px;
  left: 1204px;
}
.screen-3 {
  position: relative;
  height: 2311px;
}
.light {
  position: absolute;
  top: -83px;
}
.background {
  position: absolute;
  top: 175px;
}
.screen-3 .rent-studio {
  position: absolute;
  left: 1169px;
  top: 217px;
  transform: rotate(48deg);
}
.screen-3 .arrow {
  position: absolute;
  left: 1149px;
  top: 232px;
  transform: rotate(53deg);
}
.screen-3 .rent {
  position: absolute;
  left: 1180px;
  top: 265px;
  transform: rotate(43deg);
}

.glifs {
  position: absolute;
  font-size: 50px;
  color: #95aefa;
  transform: rotate(-10deg);
  top: 549px;
  left: 515px;
}
.glif-1 {
  position: absolute;
  font-size: 90px;
  color: #95aefa;
  transform: rotate(-10deg);
  top: 773px;
  left: 55px;
}
.glif-2 {
  position: absolute;
  font-size: 90px;
  color: #95aefa;
  transform: rotate(-10deg);
  top: 753px;
  left: 190px;
}
.glif-3 {
  position: absolute;
  font-size: 90px;
  color: #95aefa;
  transform: rotate(-10deg);
  top: 695px;
  left: 338px;
}
.glif-4 {
  position: absolute;
  font-size: 90px;
  color: #95aefa;
  transform: rotate(-10deg);
  top: 677px;
  left: 476px;
}
.glif-5 {
  position: absolute;
  font-size: 90px;
  color: #95aefa;
  transform: rotate(-10deg);
  top: 632px;
  left: 605px;
}
.glif-6 {
  position: absolute;
  font-size: 90px;
  color: #95aefa;
  transform: rotate(-10deg);
  top: 966px;
  left: 168px;
}
.glif-7 {
  position: absolute;
  font-size: 90px;
  color: #95aefa;
  transform: rotate(-10deg);
  top: 892px;
  left: 372px;
}
.glif-8 {
  position: absolute;
  font-size: 90px;
  color: #95aefa;
  transform: rotate(-10deg);
  top: 840px;
  left: 559px;
}
.glif-9 {
  position: absolute;
  font-size: 90px;
  color: #95aefa;
  transform: rotate(-10deg);
  top: 1240px;
  left: 88px;
}
.glif-10 {
  position: absolute;
  font-size: 90px;
  color: #95aefa;
  transform: rotate(-10deg);
  top: 1169px;
  left: 243px;
}
.glif-11 {
  position: absolute;
  font-size: 90px;
  color: #95aefa;
  transform: rotate(-10deg);
  top: 1089px;
  left: 370px;
}
.glif-12 {
  position: absolute;
  font-size: 90px;
  color: #95aefa;
  transform: rotate(26deg);
  top: 1048px;
  left: 509px;
}
.glif-13 {
  position: absolute;
  font-size: 90px;
  color: #95aefa;
  transform: rotate(1deg);
  top: 1012px;
  left: 625px;
}
.glif-14 {
  position: absolute;
  font-size: 90px;
  color: #95aefa;
  transform: rotate(0deg);
  top: 1185px;
  left: 567px;
}
.ligatures {
  position: absolute;
  font-size: 50px;
  color: #95aefa;
  top: 534px;
  left: 758px;
}
.ligature-1 {
  position: absolute;
  font-size: 90px;
  color: #95aefa;
  top: 630px;
  left: 762px;
}
.ligature-2 {
  position: absolute;
  font-size: 90px;
  color: #95aefa;
  top: 630px;
  left: 906px;
}
.ligature-3 {
  position: absolute;
  font-size: 90px;
  color: #95aefa;
  top: 628px;
  left: 1055px;
}
.ligature-4 {
  position: absolute;
  font-size: 90px;
  color: #95aefa;
  top: 630px;
  left: 1192px;
}
.ligature-5 {
  position: absolute;
  font-size: 90px;
  color: #95aefa;
  top: 630px;
  left: 1337px;
}
.ligature-6 {
  position: absolute;
  font-size: 90px;
  color: #95aefa;
  top: 817px;
  left: 857px;
}
.ligature-7 {
  position: absolute;
  font-size: 90px;
  color: #95aefa;
  top: 817px;
  left: 1055px;
}
.ligature-8 {
  position: absolute;
  font-size: 90px;
  color: #95aefa;
  top: 817px;
  left: 1248px;
}
.ligature-9 {
  position: absolute;
  font-size: 90px;
  color: #95aefa;
  top: 1005px;
  left: 758px;
}
.ligature-10 {
  position: absolute;
  font-size: 90px;
  color: #95aefa;
  top: 1005px;
  left: 900px;
}
.ligature-11 {
  position: absolute;
  font-size: 90px;
  color: #95aefa;
  top: 1005px;
  left: 1045px;
}
.ligature-12 {
  position: absolute;
  font-size: 90px;
  color: #95aefa;
  top: 1005px;
  left: 1191px;
}
.ligature-13 {
  position: absolute;
  font-size: 90px;
  color: #95aefa;
  top: 1005px;
  left: 1342px;
}
.ligature-14 {
  position: absolute;
  font-size: 90px;
  color: #95aefa;
  top: 1147px;
  left: 1272px;
}
.camera {
  position: absolute;
  top: 1120px;
}
.battery {
  position: absolute;
  transform: rotate(2.03deg);
  font-size: 27px;
  color: #f5f4f0;
  top: 1240px;
  left: 703px;
}
.fractions {
  position: absolute;
  transform: rotate(1.54deg);
  font-size: 40px;
  color: #f5f4f0;
  top: 1425px;
  left: 406px;
}
.shutter {
  position: absolute;
  transform: rotate(0.89deg);
  font-size: 20px;
  color: #f5f4f0;
  top: 1505px;
  left: 231px;
}
.shutter-n {
  position: absolute;
  transform: rotate(0.89deg);
  font-size: 26.64px;
  color: #f5f4f0;
  top: 1527px;
  left: 240px;
}
.tint {
  position: absolute;
  transform: rotate(0.89deg);
  font-size: 20px;
  color: #f5f4f0;
  top: 1509px;
  left: 375px;
}
.tint-n {
  position: absolute;
  transform: rotate(0.89deg);
  font-size: 26.64px;
  color: #f5f4f0;
  top: 1528px;
  left: 370px;
}
.iso {
  position: absolute;
  transform: rotate(0.89deg);
  font-size: 20px;
  color: #f5f4f0;
  top: 1512px;
  left: 488px;
}
.iso-n {
  position: absolute;
  transform: rotate(0.89deg);
  font-size: 26.64px;
  color: #f5f4f0;
  top: 1530px;
  left: 480px;
}
.time {
  position: absolute;
  transform: rotate(0.89deg);
  font-size: 40px;
  color: #f5f4f0;
  top: 1516px;
  left: 578px;
}
.fraction-1 {
  position: absolute;
  transform: rotate(0.03deg);
  font-size: 69px;
  color: #f5f4f0;
  top: 1547px;
  left: 170px;
}
.fraction-2 {
  position: absolute;
  transform: rotate(0.03deg);
  font-size: 69px;
  color: #f5f4f0;
  top: 1628px;
  left: 170px;
}
.fraction-3 {
  position: absolute;
  transform: rotate(0.03deg);
  font-size: 69px;
  color: #f5f4f0;
  top: 1707px;
  left: 170px;
}
.ncard {
  position: absolute;
  transform: rotate(3.19deg);
  font-size: 23px;
  color: #f5f4f0;
  top: 1802px;
  left: 181px;
}
.zoom {
  position: absolute;
  top: 1206px;
  left: 839px;
}
.Zoom-name {
  position: absolute;
  transform: rotate(-10deg);
  font-size: 47px;
  color: #000;
  top: 1497px;
  left: 1087px;
}
.Zoom-numbers {
  position: absolute;
  transform: rotate(-10deg);
  font-size: 47px;
  color: #f5f4f0;
  top: 1584px;
  left: 1096px;
}
.numbers {
  position: absolute;
  transform: rotate(-10deg);
  font-size: 40px;
  color: #365bcd;
  top: 1680px;
  left: 1038px;
}
.numbers-1 {
  position: absolute;
  font-style: italic;
  transform: rotate(-10deg);
  font-size: 35px;
  color: #365bcd;
  top: 1729px;
  left: 1067px;
}
.numbers-2 {
  position: absolute;
  transform: rotate(-10deg);
  font-size: 35px;
  color: #f5f4f0;
  top: 1810px;
  left: 1146px;
}

.screen-4 {
  position: relative;
  height: 2112px;
}
.open-box {
  position: absolute;
  top: -147px;
  left: 780px;
}
.box {
  position: absolute;
  top: -169px;
  left: 0px;
}
.sr {
  position: absolute;
  transform: rotate(9.7deg);
  top: 169px;
  left: 233px;
  font-size: 42.62px;
}
.adapters {
  position: absolute;
  transform: rotate(-12.19deg);
  top: 333px;
  left: 564px;
  font-size: 48.68px;
  color: #95aefa;
}
.screen-4 .rent-studio {
  position: absolute;
  top: 203px;
  left: 813px;
  transform: rotate(7deg);
}
.screen-4 .rent {
  position: absolute;
  top: 238px;
  left: 851px;
  transform: rotate(6deg);
}
.screen-4 .arrow {
  position: absolute;
  top: 232px;
  left: 801px;
  transform: rotate(10deg);
}
.box-1 {
  position: absolute;
  top: 387px;
  left: 0px;
}
.box-2 {
  position: absolute;
  top: 634px;
  left: 856px;
}
.a {
  position: absolute;
  font-size: 228.74px;
  top: 859px;
  left: 369px;
}
.about {
  position: absolute;
  transform: rotate(-2.44deg);
  font-size: 16px;
  top: 949px;
  left: 40px;
}
.plus {
  position: absolute;
  transform: rotate(-2.44deg);
  font-size: 16px;
  top: 1021px;
  left: 82px;
}
.number-b-1 {
  position: absolute;
  font-size: 109.39px;
  transform: rotate(-5.18deg);
  color: #f5f4f0;
  top: 1328px;
  left: 223px;
}
.about-2 {
  position: absolute;
  font-size: 16px;
  top: 1582px;
  left: 646px;
}
.about-21 {
  position: absolute;
  font-size: 16px;
  top: 1623px;
  left: 646px;
}
.about-22 {
  position: absolute;
  font-size: 16px;
  top: 1682px;
  left: 646px;
}
.about-23 {
  position: absolute;
  font-size: 16px;
  top: 1744px;
  left: 646px;
}
.tool {
  position: absolute;
  font-size: 62.63px;
  transform: rotate(-2.64deg);
  color: #f5f4f0;
  top: 1453px;
  left: 1012px;
}
.number-b-2 {
  position: absolute;
  font-size: 126.62px;
  transform: rotate(7.68deg);
  color: #a2a4ae;
  top: 929px;
  left: 1004px;
}
.number-b-21 {
  width: 591px;
  position: absolute;
  font-size: 109.39px;
  transform: rotate(9.64deg);
  color: #f5f4f0;
  top: 1759px;
  left: 1025px;
}

.screen-5 {
  position: relative;
  height: 1270px;
}
.monitor {
  position: absolute;
  top: -231px;
}
.russian {
  position: absolute;
  font-size: 37px;
  color: #f5f4f0;
  top: 498px;
  left: 179px;
}
.english {
  position: absolute;
  font-size: 37px;
  color: #f5f4f0;
  top: 557px;
  left: 179px;
}
.greek {
  position: absolute;
  font-size: 37px;
  color: #f5f4f0;
  top: 617px;
  left: 179px;
}
.romanian {
  position: absolute;
  font-size: 37px;
  color: #f5f4f0;
  top: 678px;
  left: 179px;
}
.support {
  position: absolute;
  font-size: 60px;
  color: #f5f4f0;
  top: 14px;
  left: 669px;
}
.timeline-1 {
  position: absolute;
  font-size: 21px;
  color: #f5f4f0;
  top: 282px;
  left: 369px;
}
.timeline-2 {
  position: absolute;
  font-size: 21px;
  color: #f5f4f0;
  top: 282px;
  left: 1155px;
}
.source {
  position: absolute;
  font-size: 16px;
  color: #f5f4f0;
  top: -98px;
  left: 75px;
}
.import {
  position: absolute;
  font-size: 16px;
  color: #f5f4f0;
  top: -145px;
  left: 38px;
}
.edit {
  position: absolute;
  font-size: 16px;
  color: #f5f4f0;
  top: -145px;
  left: 148px;
}
.export {
  position: absolute;
  font-size: 16px;
  color: #f5f4f0;
  top: -145px;
  left: 238px;
}
.file {
  position: absolute;
  font-size: 16px;
  color: #365bcd;
  top: -145px;
  left: 394px;
}
.file {
  position: absolute;
  font-size: 16px;
  color: #365bcd;
  top: -145px;
  left: 394px;
}
.v1tc1 {
  position: absolute;
  font-size: 14px;
  color: #f5f4f0;
  top: -160px;
  left: 638px;
}
.v-1 {
  position: absolute;
  font-size: 14px;
  color: #365bcd;
  top: -160px;
  left: 736px;
}
.our25 {
  position: absolute;
  font-size: 14px;
  color: #f5f4f0;
  top: -142px;
  left: 638px;
}
.o-1 {
  position: absolute;
  font-size: 14px;
  color: #365bcd;
  top: -142px;
  left: 736px;
}
.center {
  position: absolute;
  font-size: 14px;
  color: #365bcd;
  top: -149px;
  left: 826px;
}
.dur25 {
  position: absolute;
  font-size: 14px;
  color: #f5f4f0;
  top: -141px;
  left: 908px;
}
.d-1 {
  position: absolute;
  font-size: 14px;
  color: #365bcd;
  top: -160px;
  left: 1005px;
}
.mac25 {
  position: absolute;
  font-size: 14px;
  color: #f5f4f0;
  top: -160px;
  left: 908px;
}
.screen-6 {
  position: relative;
  height: 1074px;
}
.notebook {
  position: absolute;
  top: -298px;
}
.details {
  position: absolute;
  font-size: 42px;
  transform: rotate(8.42deg);
  top: -177px;
  left: 85px;
}
.me {
  position: absolute;
  font-size: 213.32px;
  transform: rotate(9.05deg);
  top: -82px;
  left: 409px;
}
.detail-1 {
  position: absolute;
  font-size: 35px;
  transform: rotate(8.42deg);
  top: 113px;
  left: 149px;
}
.a-r {
  position: absolute;
  font-size: 213.32px;
  transform: rotate(9.05deg);
  top: 176px;
  left: 237px;
}
.a-i {
  position: absolute;
  font-style: italic;
  font-size: 213.32px;
  transform: rotate(9.05deg);
  top: 217px;
  left: 492px;
}
.style-italic {
  position: absolute;
  font-size: 35px;
  transform: rotate(8.42deg);
  top: 452px;
  left: 64px;
}
.о-0 {
  position: absolute;
  font-size: 213.32px;
  transform: rotate(9.05deg);
  top: 557px;
  left: 195px;
}
.change-о {
  position: absolute;
  font-size: 35px;
  transform: rotate(8.42deg);
  top: 805px;
  left: 27px;
}
.i-il {
  position: absolute;
  font-size: 213.32px;
  transform: rotate(9.05deg);
  top: -14px;
  left: 826px;
}
.change-il {
  position: absolute;
  font-size: 35px;
  transform: rotate(7.42deg);
  top: 261px;
  left: 890px;
}
.l-ll {
  position: absolute;
  font-size: 213.32px;
  transform: rotate(9.05deg);
  top: 401px;
  left: 767px;
}
.change-l {
  position: absolute;
  font-size: 35px;
  transform: rotate(8.42deg);
  top: 684px;
  left: 1014px;
}
.mono {
  position: absolute;
  font-size: 32px;
  transform: rotate(-4.62deg);
  top: 845px;
  left: 1039px;
}
.note {
  position: absolute;
  top: -29px;
  left: 240px;
}

.screen-7 {
  position: relative;
  height: 1190px;
}
.badge-2 {
  position: relative;
  top: 863px;
}
.photo-2 {
  position: relative;
  transform: rotate(-13.85deg);
  top: 711px;
  left: -516px;
}
.screen-6 .name-badge {
  width: 208px;
  height: 105px;
  position: relative;
  transform: rotate(-13.85deg);
  top: 726px;
  left: 327px;
}
.screen-6 .second-name-badge {
  width: 103px;
  height: 23px;
  position: relative;
  transform: rotate(-13.85deg);
  top: 587px;
  left: 597px;
}
.pencil {
  position: relative;
  top: -933px;
}
.text-for-pencil {
  position: relative;
  top: -940px;
}
.food {
  position: relative;
  top: -85px;
}
.curator {
  width: 339px;
  position: relative;
  top: 55px;
  font-size: 40px;
  color: #f5f4f0;
  left: 935px;
}
